<strong>Olá, {{deliveryman}} </strong>
<p>!!! Você tem um novo produto disponível para retirada !!!</p>
<p>
  <strong>Produto: </strong> {{product}}</br>
  </br>
  <small>
    Você pode retirar o produto na unidade cadastrada em suas configurações.
  </small>
</p>